<h1>Accounts View Page</h1>
<%= @account.name %>

<h2> Children </h2>

	<table>
		<% @account.children.each do |c| %>
			<tr>
				<td> <%= link_to c.name, :controller => 'accounts', :action => 'show', :id => c.id %> </td>
			</tr>
		<% end %>
	</table>

<h2> Flows </h2>

<h3> Income </h3>

	<table>
		<% @account.inbound.each do |f| %>
			<tr>
				<td> <%= link_to f.name, :controller => 'flows', :action => 'show', :id => f.id %> </td>
			</tr>
		<% end %>
	</table>

<h3> Spending </h3>

	<table>
		<% @account.outbound.each do |f| %>
			<tr>
				<td> <%= link_to f.name, :controller => 'flows', :action => 'show', :id => f.id %> </td>
			</tr>
		<% end %>
	</table>